<section class="covers">
  <div class="container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <div class="covers-tiles-container">
      <ul class="covers-tiles-list">
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_10_tab_desk@1x.jpg 1x,
                img/covers/rectangle_10_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_10_mob@1x.jpg 1x,
                img/covers/rectangle_10_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_10_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_7_tab_desk@1x.jpg 1x,
                img/covers/rectangle_7_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_7_mob@1x.jpg 1x,
                img/covers/rectangle_7_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_7_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_10_tab_desk@1x.jpg 1x,
                img/covers/rectangle_10_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_10_mob@1x.jpg 1x,
                img/covers/rectangle_10_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_10_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_12_tab_desk@1x.jpg 1x,
                img/covers/rectangle_12_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_12_mob@1x.jpg 1x,
                img/covers/rectangle_12_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_12_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
      </ul>
      <ul class="covers-tiles-list">
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_11_tab_desk@1x.jpg 1x,
                img/covers/rectangle_11_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_11_mob@1x.jpg 1x,
                img/covers/rectangle_11_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_11_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_3_tab_desk@1x.jpg 1x,
                img/covers/rectangle_3_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_3_mob@1x.jpg 1x,
                img/covers/rectangle_3_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_3_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_8_tab_desk@1x.jpg 1x,
                img/covers/rectangle_8_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_8_mob@1x.jpg 1x,
                img/covers/rectangle_8_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_8_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_5_tab_desk@1x.jpg 1x,
                img/covers/rectangle_5_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_5_mob@1x.jpg 1x,
                img/covers/rectangle_5_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_5_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
      </ul>
      <ul class="covers-tiles-list">
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_5_tab_desk@1x.jpg 1x,
                img/covers/rectangle_5_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_5_mob@1x.jpg 1x,
                img/covers/rectangle_5_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_5_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_9_tab_desk@1x.jpg 1x,
                img/covers/rectangle_9_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_9_mob@1x.jpg 1x,
                img/covers/rectangle_9_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_9_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_4_tab_desk@1x.jpg 1x,
                img/covers/rectangle_4_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_4_mob@1x.jpg 1x,
                img/covers/rectangle_4_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_4_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_10_tab_desk@1x.jpg 1x,
                img/covers/rectangle_10_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_10_mob@1x.jpg 1x,
                img/covers/rectangle_10_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_10_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
      </ul>
      <ul class="covers-tiles-list">
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_10_tab_desk@1x.jpg 1x,
                img/covers/rectangle_10_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_10_mob@1x.jpg 1x,
                img/covers/rectangle_10_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_10_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_8_tab_desk@1x.jpg 1x,
                img/covers/rectangle_8_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_8_mob@1x.jpg 1x,
                img/covers/rectangle_8_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_8_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_10_tab_desk@1x.jpg 1x,
                img/covers/rectangle_10_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_10_mob@1x.jpg 1x,
                img/covers/rectangle_10_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_10_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
        <li class="covers-tiles-line">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                img/covers/rectangle_10_tab_desk@1x.jpg 1x,
                img/covers/rectangle_10_tab_desk@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                img/covers/rectangle_10_mob@1x.jpg 1x,
                img/covers/rectangle_10_mob@2x.jpg 2x
              "
            />

            <img
              class="covers-image"
              src="img/covers/rectangle_10_tab_desk@1x.jpg"
              alt="covers image"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
<script type="module" src="../js/covers.js"></script>
