<section class="hero">
  <div class="container">
      <h1 class="header-one text-uppercase">
        Hello.<br />
        I'm fullstack developer<br />
        Lloyd Jefferson.
      </h1>
      <ul class="social-links-hero">
        <li class="socail-links-hero-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >IG</a
          >
        </li>
        <li class="socail-links-hero-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >FB</a
          >
        </li>
        <li class="socail-links-hero-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >YT</a
          >
        </li>
        <li class="socail-links-hero-item">
          <a
            href="https://github.com/front-band-17"
            target="_blank"
          >GH</a
          >
        </li>
        <li class="socail-links-hero-item">
          <a
            href="mailto:lloydjefferson@gmail.com"
            target="_blank"
          >lloydjefferson@gmail.com
          </a>

    </li>
    </ul>
  </div>
</section>
