
<section id="projects" class="section-projects">
    <div class="container border-dev">
        <h2 class="section-title">Projects</h2>
        <div class="content-title">
            <div class="content">
                <ul class="content-list">
                    <li class="content-item one">#react</li>
                    <li class="content-item two">#js</li>
                    <li class="content-item three">#node.js</li>
                    <li class="content-item four">#git</li>
                </ul>
            </div>
            <p class="content-text">
                Programming Across<br>
                 Borders: Ideas,<br>
                 Technologies, Innovations</p>
            <button class="btn-send">See project</button>

            <div class="content-title-image">
                <img src="../img/projects/image1-1x.jpg"
                    srcset="../img/projects/image1-1x.jpg, ../img/projects/image1-2x.jpg" alt="project image">
    >
            </div>
        </div>
        <div class="content-title">
            <div class="content">
                <ul class="content-list">
                    <li class="content-item one">#react</li>
                    <li class="content-item two">#js</li>
                    <li class="content-item three">#node.js</li>
                    <li class="content-item four">#git</li>
                </ul>
            </div>
            <p class="content-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            <button class="btn-send">See project</button>

            <div class="content-title-image">
                <img src="../img/projects/image2-1x.jpg"
                    srcset="../img/projects/image2-1x.jpg, ../img/projects/image2-2x.jpg" alt="project image"
                    class="content-image">
            </div>
        </div>

        <div class="content-title">
            <div class="content">
                <ul class="content-list">
                    <li class="content-item one">#react</li>
                    <li class="content-item two">#js</li>
                    <li class="content-item three">#node.js</li>
                    <li class="content-item four">#git</li>
                </ul>
            </div>
            <p class="content-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            <button class="btn-send">See project</button>

            <div class="content-title-image">
                <img src="../img/projects/image3-1x.jpg"
                    srcset="../img/projects/image3-1x.jpg, ../img/projects/image3-2x.jpg" alt="project image"
                    class="content-image">
            </div>
        </div>

        <button class="swiper-button-prev" aria-label="Previous slide"></button>
        <button class="swiper-button-next" aria-label="Next slide"></button>

    </div>

</section>