
   <section id="projects" class="section-projects">
  <div class="container border-dev">
    <h2 class="section-title">Projects</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide">
          <div class="content-title active">
            <div class="content">
              <ul class="content-list">
                <li class="content-item one">#react</li>
                <li class="content-item two">#js</li>
                <li class="content-item three">#node.js</li>
                <li class="content-item four">#git</li>
              </ul>
            </div>
            <p class="content-text">
              Programming Across<br />
              Borders: Ideas,<br />
              Technologies, Innovations
            </p>
            <button class="btn-send">See project</button>

            <div class="content-title-image">
              <picture>
                <source media="(max-width: 767px)" srcset="../img/projects/image1-1x.jpg , ../img/projects/image1-2x.jpg 2x" />
                <source media="(min-width: 768px) and (max-width: 1157px)" srcset="../img/projects/image1d-1x.jpg , ../img/projects/image1d-2x.jpg 2x" />
                <source media="(min-width: 1280px)" srcset="../img/projects/image1d-1x.jpg, ../img/projects/image1d-2x.jpg 2x" />
                <img src="../img/projects/image1-1x.jpg" alt="project image" width="614" height="385" class="content-image" />
              </picture>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <div class="content-title hidden">
            <div class="content">
              <ul class="content-list">
                <li class="content-item one">#react</li>
                <li class="content-item two">#js</li>
                <li class="content-item three">#node.js</li>
                <li class="content-item four">#git</li>
              </ul>
            </div>
            <p class="content-text">
              Programming Across<br />
              Borders: Ideas,<br />
              Technologies, Innovations
            </p>
            <button class="btn-send">See project</button>

            <div class="content-title-image">
              <picture>
                <source media="(max-width: 767px)" srcset="../img/projects/image2-1x.jpg , ../img/projects/image2-2x.jpg 2x" />
                <source media="(min-width: 768px) and (max-width: 1157px)" srcset="../img/projects/image2d-1x.jpg , ../img/projects/image2d-2x.jpg 2x" />
                <source media="(min-width: 1280px)" srcset="../img/projects/image2d-1x.jpg , ../img/projects/image2d-2x.jpg 2x" />
                <img src="../img/projects/image2-1x.jpg" alt="project image" width="614" height="385" class="content-image" />
              </picture>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <div class="content-title hidden">
            <div class="content">
              <ul class="content-list">
                <li class="content-item one">#react</li>
                <li class="content-item two">#js</li>
                <li class="content-item three">#node.js</li>
                <li class="content-item four">#git</li>
              </ul>
            </div>
            <p class="content-text">
              Programming Across<br />
              Borders: Ideas,<br />
              Technologies, Innovations
            </p>
            <button class="btn-send">See project</button>

            <div class="content-title-image">
              <picture>
                <source media="(max-width: 767px)" srcset="../img/projects/image3-1x.jpg , ../img/projects/image3-2x.jpg 2x" />
                <source media="(min-width: 768px) and (max-width: 1157px)" srcset="../img/projects/image3d-1x.jpg , ../img/projects/image3d-2x.jpg 2x" />
                <source media="(min-width: 1280px)" srcset="../img/projects/image3d-1x.jpg , ../img/projects/image3d-2x.jpg 2x" />
                <img src="../img/projects/image3-1x.jpg" alt="project image" width="614" height="385" class="content-image" />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Кнопки навігації по центру внизу -->
    <div class="swiper-buttons-wrapper">
      <button class="swiper-btn-prev" aria-label="Previous slide">
        <svg class="icons" width="25" height="24">
          <use href="../img/projects/icons.svg#icon-left"></use>
        </svg>
      </button>

      <button class="swiper-btn-next" aria-label="Next slide">
        <svg class="icons" width="25" height="24">
          <use href="../img/projects/icons.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

    
