<section class="section-projects" id="projects">
  <div class="container">
    <h2 class="header-two text-uppercase">Projects</h2>

    <div class="swiper-projects swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="project-wrapper">
            <div class="project-text bg-white">
              <ul class="project-tag">
                <li class="tag-item f-black-1">#react</li>
                <li class="tag-item f-black-1">#js</li>
                <li class="tag-item f-black-1">#node.js</li>
                <li class="tag-item f-black-1">#git</li>
              </ul>

              <h3 class="project-header f-black-1">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a href="https://github.com/front-band-17/project-wr23-45" target="_blank" class="project-button">See project</a>
            </div>
            <div class="project-image bg-black-2 ">
              <picture>
                <source
                  media="(min-width: 375px) and (max-width: 767px)"
                  srcset="
            ./img/projects/image1-2x.jpg 2x,
            ./img/projects/image1-1x.jpg 1x
          "
                />

                <source
                  media="(min-width: 768px) and (max-width: 1439px)"
                  srcset="
           ./img/projects/image1d-2x.jpg 2x,
            ./img/projects/image1d-1x.jpg 1x
          "
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
             ./img/projects/image1d-2x.jpg 2x,
            ./img/projects/image1d-1x.jpg 1x
            "
                />
                <img
                  src="./img/projects/image1d-1x.jpg"
                  alt="Programming Across Borders: Ideas, Technologies, Innovations"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-wrapper">
            <div class="project-text bg-white">
              <ul class="project-tag">
                <li class="tag-item f-black-1">#react</li>
                <li class="tag-item f-black-1">#js</li>
                <li class="tag-item f-black-1">#node.js</li>
                <li class="tag-item f-black-1">#git</li>
              </ul>

              <h3 class="project-header f-black-1">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a  href="https://github.com/front-band-17/project-wr23-45" target="_blank" class="project-button">See project</a>
            </div>
            <div class="project-image bg-black-2 ">
              <picture>
                <source
                  media="(min-width: 375px) and (max-width: 767px)"
                  srcset="
            ./img/projects/image2-2x.jpg 2x,
            ./img/projects/image2-1x.jpg 1x
          "
                />
                <source
                  media="(min-width: 768px) and (max-width: 1439px)"
                  srcset="
           ./img/projects/image2d-2x.jpg 2x,
            ./img/projects/image2d-1x.jpg 1x
          "
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
             ./img/projects/image2d-2x.jpg 2x,
            ./img/projects/image2d-1x.jpg 1x
            "
                />
                <img
                  src="./img/projects/image2d-1x.jpg"
                  alt="Programming Across Borders: Ideas, Technologies, Innovations"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="project-wrapper">
            <div class="project-text bg-white">
              <ul class="project-tag">
                <li class="tag-item f-black-1">#react</li>
                <li class="tag-item f-black-1">#js</li>
                <li class="tag-item f-black-1">#node.js</li>
                <li class="tag-item f-black-1">#git</li>
              </ul>

              <h3 class="project-header f-black-1">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a href="https://github.com/front-band-17/project-wr23-45" target="_blank" class="project-button">See project</a>
            </div>
            <div class="project-image bg-black-2 ">
              <picture>
                <source
                  media="(min-width: 375px) and (max-width: 767px)"
                  srcset="
            ./img/projects/image3-2x.jpg 2x,
            ./img/projects/image3-1x.jpg 1x
        "

                />
                <source
                  media="(min-width: 768px) and (max-width: 1439px)"
                  srcset="
           ./img/projects/image3d-2x.jpg 2x,
            ./img/projects/image3d-1x.jpg 1x
          "
                />
                <source
                  media="(min-width: 1440px)"
                  srcset="
             ./img/projects/image3d-2x.jpg 2x,
            ./img/projects/image3d-1x.jpg 1x
            "
                />
                <img
                  src="./img/projects/image3d-1x.jpg"
                  alt="Programming Across Borders: Ideas, Technologies, Innovations"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>

      </div>
    </div>

  <div class="project-wrapper-swiper-button">
    <button class="project-swiper-button-prev swiper-button">
      <svg class="icon"  width="32" height="32">
        <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
      </svg>
    </button>
    <button type="button" class="project-swiper-button-next swiper-button">
      <svg class="icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>


  </div>
</section>


