<section class="section-reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="wrapper-swiper-button">
        <div class="swiper-button-prev swiper-button swiper-button-disabled">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-button swiper-button-disabled">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <h3 class="not-found">Not found</h3>
  </div>
</section>
