.header-five {
    margin-bottom: 32px;
        color: var(--review-title-color);
        font-family: 'Inter Tight', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

/* Список переваг */
.benefits-list {
    display: flex;
    flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    gap: 16px;
    
}

/* Окремий елемент */
.benefit-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}

.benefit-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Іконки */
.icon {
    font-size: 32px;
    margin-bottom: 15px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 100%;
    height: 100%;
    background-color: #ed3b44;
    
    border-radius: 10px;
        width: 48px;
        height: 48px;
}

/* Заголовки елементів */
.benefit-title {
    font-size: 22px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

/* Опис */
.benefit-description {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

/* Кнопка "Order the project" */
.order-project-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 36px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: #ff4d00;
    border-radius: 60px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(255, 77, 0, 0.3);
}

.order-project-btn:hover {
    background-color: #e64400;
    transform: translateY(-2px);
}

.order-project-btn:active {
    background-color: #cc3d00;
    transform: translateY(0);
}

/* Адаптація для мобільних пристроїв */


