.hero {
  background-image: url(../img/hero/bg-1mob-1x.png);
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.hero .container {
  padding-top: 281px;
}

.social-links-hero {
  margin-top: 212px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  line-height: normal;
  align-items: flex-start;
  letter-spacing: -0.28px;
  gap: 4px;
}

.socail-links-hero-item {
  text-align: center;
  min-width: 37px;
  margin-bottom: 32px;
}

.socail-links-hero-item a {
  display: block;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  padding: 10px 0;
  transition: border-color 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.socail-links-hero-item:last-child {
  width: 180px;
}

.socail-links-hero-item:last-child a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.socail-links-hero-item a:focus,
.socail-links-hero-item a:hover,
.socail-links-hero-item a:active {
  border-color: #fafafa;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/bg-1mob-2x.png);
    background-size: 82.6%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/bg-1tab-1x.png);
  }
  .socail-links-hero-item {
    height: 55px;
    width: 55px;
  }

  .social-links-hero {
    justify-content: flex-end;
    font-size: 16px;
    gap: 8px;
  }
  .socail-links-hero-item:last-child {
    text-align: center;
    width: 223px;
  }
  .socail-links-hero-item a {
    min-height: 55px;
    align-content: center;
  }
  .header-one {
    margin-bottom: 187px;
  }
}
@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/bg-1tab-2x.png);
    background-size: 75.6%;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/bg-1desk-1x.png);
  }
  .header-one {
    width: 1084px;
    margin-bottom: 243px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/bg-1desk-2x.png);
    background-size: 50.5%;
  }
}
