
.section-title {
font-family: "Inter Tight", sans-serif;
 font-weight: 600;
font-size: 16px;
line-height: 150%;
 letter-spacing: -0.02em;
text-transform: uppercase;
text-transform: uppercase;
 color: rgba(250, 250, 250, 0.4);
}
.content-title {
border-radius: 24px;
width: 343px;
height: 812px;
background: linear-gradient(#fafafa 50%, #242527 50%);
}
.content {
padding-top: 32px;
margin-left: 32px;
}
.content-list {
width: 279px;
height: 96px;
display: flex;
flex-wrap: wrap;
gap: 6px;

}
.content-item {
height: 45px;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #1c1d20;
border: 1px solid rgba(28, 29, 32, 0.2);
 border-radius: 60px;
 padding: 13px 18px;

}
.one {
width: 80px;
}
.two {
width: 57px;
}
.three {
width: 94px;
}
.four {
width: 63px;
}
.content-text {
font-weight: 500;
 font-size: 24px;
 line-height: 117%;
letter-spacing: -0.03em;
color: #1c1d20;
text-align: left;
margin-left: 32px;
margin-top: 96px;
margin-bottom: 32px;
}
.btn-send {
border-radius: 60px;
padding: 13px 32px;
 width: 141px;
height: 45px;
background: #ed3b44;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #fafafa;
display: flex;
justify-content: center;
cursor: pointer;
text-align: center;
align-items: center;
white-space: nowrap;

}
.content-title-image {
border-radius: 0 0 24px 24px;
width: 100%;
object-fit: cover;
position: relative;
display: flex;
justify-content: center;
align-items: center;

}