/* Variables color for section reviews */
:root {
  --review-title-color: #fafafa66;
  --review-name-color: #fafafa;
  --review-content-color: #fafafa99;
}

.section-reviews {
  padding: 64px 0;
}

.section-reviews .reviews-title {
  margin-bottom: 32px;
  color: var(--review-title-color);

  font-family: Inter Tight;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.section-reviews .reviews-list {
  display: flex;
  margin-bottom: 32px;
}

/* .section-reviews .reviews-item:nth-child(n + 2) {
  display: none;
} */

/* .section-reviews .reviews-item:nth-child(n + 3) {
  display: none;
} */

/* .section-reviews .reviews-item:nth-child(n + 5) {
  display: none;
} */

.section-reviews .reviews-item {
  border: 1px solid #fafafa33;
  border-radius: 20px;
  padding: 32px 24px;
  height: auto;
}

.section-reviews .reviews-photo {
  border-radius: 10px;
  margin-bottom: 32px;
}

.section-reviews .reviews-name {
  margin-bottom: 8px;
  color: var(--review-name-color);

  font-family: Inter Tight;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -2%;
}

.section-reviews .reviews-content {
  color: var(--review-content-color);

  font-family: Inter Tight;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.swiper-button {
  border: 1px solid #fafafa80;
  border-radius: 60px;
  width: 68px;
  height: 68px;
}

.section-reviews .wrapper-swiper-button {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.section-reviews .swiper-button-disabled {
  border: 1px solid #fafafa33;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .section-reviews {
    padding: 96px 0;
  }

  .section-reviews .wrapper-swiper-button {
    gap: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .section-reviews {
    padding: 164px 0;
  }
}
